
body{
    background-color: #080808;
    color: #fff;
}

h1{
    color: #0f6402;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
}

h2{
    text-decoration: underline;
    font-size: 30px;
}
